<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>Ocurrió un error</h1>
    <p style="color: red;" th:text="${error}">Mensaje de error</p>
    <p>Intenta nuevamente, verifica el rol escogido y el numero de cédula o el correo</p>
    <br>
    <a th:href="@{/usuarios/nuevo}">Volver al formulario</a> | 
    <a th:href="@{/usuarios}">Ir a la lista de usuarios</a> <!--Este lo dejo para pruebas pero para la entrega no aplica-->
</body>
</html>