<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Usuario - Salud</title>


</head>

<body>
    <h1 th:text="${usuario.id == null ? 'Nuevo usuario' : 'Editar usuario'}"></h1>

    <form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{activo}">

        <label for="cedula">Cédula:</label>
        <input type="text" id="cedula" th:field="*{cedula}" required pattern="[0-9]{6,10}" minlength="6" maxlength="10">
        <br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" required minlength="2" maxlength="100">
        <br>

        <label for="fecha_nacimiento">Fecha de nacimiento:</label>
        <input type="date" id="fecha_nacimiento" th:field="*{fecha_nacimiento}" required>
        <br><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" th:field="*{telefono}" required pattern="[0-9]{10}" minlength="10"
            maxlength="10">
        <br>

        <label for="correo">Correo:</label>
        <input type="email" id="correo" th:field="*{correo}" required maxlength="120">
        <br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" th:field="*{contrasena}" required minlength="6" maxlength="120">
        <br><br>

        <label>Rol:</label>
        <div th:each="r : ${Roles}">
            <input type="radio" th:id="${'rol-' + r.id}" th:field="*{rol.id}" th:value="${r.id}" required>
            <label th:for="${'rol-' + r.id}" th:text="${r.nombre}"></label>
        </div>
        <br>

        <!--De aqui para adelante, son campos opcionales según la selección de médico o paciente, si es admin, no aparece ninguna-->

        <!--Para paciente-->
        <div id="seccion-paciente" style="display: none;">
            <label for="antecedentes">Antecedentes:</label><br>
            <textarea id="antecedentes" th:field="*{antecedentes}" rows="5" cols="40" placeholder="Escribe si posees enfermedades de herencia o consumes medicamentos"></textarea>
            <br><br>
        </div>

        <!--Para el doctor-->
        <div id="seccion-medico" style="display: none;">
            <div>
                <label for="especialidad">Especialidad:</label>
                <select id="especialidad" name="especialidadId">
                    <option value="">-- Seleccione una especialidad --</option>
                    <option th:each="e : ${Especialidades}" th:value="${e.id}" th:text="${e.nombreEspecialidad}"></option>
                </select>
            </div>
            <br>

            <div>
                <label for="espacio">Espacio:</label>
                <select id="espacio" name="espacioId">
                    <option value="">-- Seleccione un espacio --</option>
                    <option th:each="e : ${Espacios}" th:value="${e.id}" th:text="${e.ubicacion}"></option>
                </select>
            </div>
            <br>
        </div>


        <button type="submit">Guardar</button>
    </form>
    <script th:src="@{/js/usuarioRoles.js}"></script>
</body>

</html>